<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/script.js" defer></script>
    <title>movie app</title>
</head>
<body class="index-body">
    <!-- NAV -->
    <nav class="desktop-nav">
        <ul>
            <li><a href="/">MOVIE VAULT</a></li>
            <li><a href="/">Homepagina</a></li>
            <li><a href="/series">Series</a></li>
            <li><a href="/films">Films</a></li>
            <li><a href="/list">Mijn lijst</a></li>
        </ul>
        <ul>
            <li><input type="text" placeholder="Search..."></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
    <!-- BODY -->
    <main class="series-main">
        <section class="row">
            <section class="header">
                <h3 class="title">Trending Now</h3>
                <section class="progress-bar">
                    <div class="progress-item active"></div>
                    <div class="progress-item"></div>
                    <div class="progress-item"></div>
                    <div class="progress-item"></div>
                </section>    
            </section>
            <section class="container">
                <button class="handle left-handle">
                    <div class="text">&#8249;</div>
                </button>
                <section class="slider">
                    <img src="https://placehold.co/200">
                    <img src="https://placehold.co/210">
                    <img src="https://placehold.co/220">
                    <img src="https://placehold.co/230">
                    <img src="https://placehold.co/240">
                    <img src="https://placehold.co/250">
                    <img src="https://placehold.co/260">
                    <img src="https://placehold.co/270">
                    <img src="https://placehold.co/270">
                </section>
                <button class="handle right-handle">
                    <div class="text">&#8250;</div>
                </button>
            </section>    
        </section>
        
        <section class="row">
            <section class="header">
                <h3 class="title">Trending This Week</h3>
                <section class="progress-bar">
                    <div class="progress-item active"></div>
                    <div class="progress-item"></div>
                    <div class="progress-item"></div>
                    <div class="progress-item"></div>
                </section>    
            </section>
            <section class="container">
                <button class="handle left-handle">
                    <div class="text">&#8249;</div>
                </button>
                <section class="slider">
                    <img src="https://placehold.co/200">
                    <img src="https://placehold.co/210">
                    <img src="https://placehold.co/220">
                    <img src="https://placehold.co/230">
                    <img src="https://placehold.co/240">
                    <img src="https://placehold.co/250">
                    <img src="https://placehold.co/260">
                    <img src="https://placehold.co/270">
                    <img src="https://placehold.co/270">
                </section>
                <button class="handle right-handle">
                    <div class="text">&#8250;</div>
                </button>
            </section>    
        </section>

        <section class="row">
            <section class="header">
                <h3 class="title">Action</h3>
                <section class="progress-bar">
                    <div class="progress-item active"></div>
                    <div class="progress-item"></div>
                    <div class="progress-item"></div>
                    <div class="progress-item"></div>
                </section>    
            </section>
            <section class="container">
                <button class="handle left-handle">
                    <div class="text">&#8249;</div>
                </button>
                <section class="slider">
                    <img src="https://placehold.co/200">
                    <img src="https://placehold.co/210">
                    <img src="https://placehold.co/220">
                    <img src="https://placehold.co/230">
                    <img src="https://placehold.co/240">
                    <img src="https://placehold.co/250">
                    <img src="https://placehold.co/260">
                    <img src="https://placehold.co/270">
                    <img src="https://placehold.co/270">
                </section>
                <button class="handle right-handle">
                    <div class="text">&#8250;</div>
                </button>
            </section>    
        </section>

        <section class="row">
            <section class="header">
                <h3 class="title">Comedy</h3>
                <section class="progress-bar">
                    <div class="progress-item active"></div>
                    <div class="progress-item"></div>
                    <div class="progress-item"></div>
                    <div class="progress-item"></div>
                </section>    
            </section>
            <section class="container">
                <button class="handle left-handle">
                    <div class="text">&#8249;</div>
                </button>
                <section class="slider">
                    <img src="https://placehold.co/200">
                    <img src="https://placehold.co/210">
                    <img src="https://placehold.co/220">
                    <img src="https://placehold.co/230">
                    <img src="https://placehold.co/240">
                    <img src="https://placehold.co/250">
                    <img src="https://placehold.co/260">
                    <img src="https://placehold.co/270">
                    <img src="https://placehold.co/270">
                </section>
                <button class="handle right-handle">
                    <div class="text">&#8250;</div>
                </button>
            </section>    
        </section>
    </main>
</body>
</html>