<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/style.css">
    <title>movie app</title>
</head>
<body class="login-body">
    <a href="/">&#10151;</a>
    <main class="login-main">
        <section>
            <form action="" method="post">
                <label for="username">gebruikersnaam:</label>
                <input type="text" name="username" placeholder="">

                <label for="password">wachtwoord:</label>
                <input type="password" name="password">

                <button type="submit">Log in</button>
            </form>
            <a href="/register">Nog geen account? Registreer hier.</a>
        </section>
    </main>
</body>
</html>