<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/script.js" defer></script>
    <title>movie app</title>
</head>
<body class="list-body">
    <!-- NAV -->
    <nav class="desktop-nav">
        <ul>
            <li><a href="/">MOVIE VAULT</a></li>
            <li><a href="/">Homepagina</a></li>
            <li><a href="/series">Series</a></li>
            <li><a href="/films">Films</a></li>
            <li><a href="/list">Mijn lijst</a></li>
        </ul>
        <ul>
            <li><input type="text" placeholder="Search..."></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
    <!-- BODY -->
    <main class="list-main">
        
    </main>
</body>
</html>