<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/style.css">
    <title>movie app</title>
</head>
<body class="login-body">
    <a href="/">&#10151;</a>
    <main class="login-main">
        <section>
            <form action="" method="post">
                <label for="name">gebruikersnaam:</label>
                <input type="text" name="name" placeholder="">

                <label for="email">email:</label>
                <input type="email" name="email" placeholder="">

                <label for="password">wachtwoord:</label>
                <input type="password" name="password">

                <label for="repeat">herhaal wachtwoord:</label>
                <input type="password" name="repeat">

                <button type="submit">Registreer</button>
            </form>
            <a href="/login">Al een account? Log hier in.</a>
        </section>
    </main>
</body>
</html>